:root {
    --scale: 2;
    --top-thickness: calc(26px * var(--scale));
    --bottom-thickness: calc(6px * var(--scale));
    --side-thickness: calc(6px * var(--scale));
    --title-size: calc(13px * var(--scale));
    --title-margin: calc(6px * var(--scale)) 0px 0px calc(6px* var(--scale));

    --title-color: #ffffff;
    --color-a: #000179;
    --color-b: #3F88D4;
    --background: transparent;
}

@font-face {
    font-family: "ms-sans-serif-1";
    src: url("font/ms-sans-serif-1.otf.woff2") format('woff');
}

.win98-frame {
    image-rendering: pixelated;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: 0;
    left: 0;
}

.border-title {
    position: relative;
    font-family: "ms-sans-serif-1";
    font-weight: bold;
    font-size: var(--title-size);
    color: var(--title-color);
    margin: var(--title-margin);
}

.border-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--top-thickness);
    background: var(--color-a);
    background: linear-gradient(to right, var(--color-a), var(--color-b));
}

.border-left {
    position: absolute;
    background-color: red;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--side-thickness);
}

.border-right {
    position: absolute;
    background-color: red;
    right: 0;
    top: 0;
    height: 100%;
    width: var(--side-thickness);
}

.border-bottom {
    position: absolute;
    background-color: red;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--bottom-thickness);
}

.border-top-left {
    position: absolute;
    width: var(--side-thickness);
    left: 0;
}

.border-top-right {
    position: absolute;
    right: 0;
}

.border-bottom-left {
    position: absolute;
    left: 0;
}

.border-bottom-right {
    position: absolute;
    right: 0;
}

.border-top img {
    position: absolute;
    width: 100%;
    height: var(--top-thickness);
}

.border-top-left img {
    left: 0;
    width: auto;
    height: var(--top-thickness);
}

.border-top-right img {
    right: 0;
    width: auto;
    height: var(--top-thickness);
}

.border-bottom img {
    position: absolute;
    width: 100%;
    height: var(--bottom-thickness);
}

.border-bottom-left img {
    left: 0;
    width: auto;
    height: var(--bottom-thickness);
}

.border-bottom-right img {
    right: 0;
    width: auto;
    height: var(--bottom-thickness);
}

.border-left img {
    position: absolute;
    height: 100%;
    width: var(--side-thickness);
}

.border-right img {
    position: absolute;
    right: 0;
    height: 100%;
    width: var(--side-thickness);
}